html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: black;
}

header {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.titles {
  position: absolute;
  top: 20%;
  text-align: center;
  width: 100%;
  pointer-events: none;
  z-index: 5;
}

h2 {
  position: absolute;
  width: 100%;
  margin: 0;
  opacity: 0;
  transition: opacity 0.5s;
  color: rgb(221, 219, 219);
}

.card-container {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

.card-face.card-front {
  background-color: white;
}

.card-face.card-back {
  background-color: #ddd;
  color: black;
  transform: rotateY(180deg);
}

.card.is-flipped .card-face.card-front {
  transform: rotateY(-180deg);
}

.card.is-flipped .card-face.card-back {
  transform: rotateY(0deg);
}

.controls {
  position: fixed;
  bottom: 50px;
  width: 100%;
  text-align: center;
  z-index: 15;
}

.card img {
  width: 90%;
  height: auto;
  max-height: 60%;
}

.card h3 {
  margin: 0;
  padding-top: 20px;
  font-size: 18px;
  padding-bottom: 40px;
}

.flip-button {
  margin-top: auto;
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  border: none;
  background-color: gold;
  color: black;
  cursor: pointer;
}
.attributes-box {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

#attributes-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 800px;
}

#attributes-list li {
  display: inline-block;
  padding: 0 10px;
}
.card-section {
  display: none;
}
.controls button,
.design-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.controls button:hover,
.design-button:hover {
  background-color: #555;
}
.design-button {
  display: block;
  width: 80%;
  margin: 20px auto;
  font-size: 1.2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.controls,
.design-button-container {
  text-align: center;
}
@media (max-width: 600px) {
  .card-container,
  .controls,
  .design-button-container {
    width: 100%;
    padding: 0 10px;
  }

  .card h3,
  .flip-button {
    font-size: 1em;
  }

  .design-button {
    width: 90%;
  }
  .card-face.card-front {
    background-color: transparent !important;
  }
  .box {
    padding: 5px;
    font-size: 12px;
  }
  #attributes-list li {
    flex-basis: 60%;
    padding: 2px 5px;
    font-size: 0.8rem;
  }
}
